@import 'setup';


.wrapper {
	margin-left: 10%;
	margin-right: 10%;
}

.location {
	display: flex;
	justify-content: center;
	align-content: center;
}

.icon img {
	height: 200px;
}

.storm, .cloud, .snow, .sunny, .rain {
	display: none;
}

.sunny.display {
	display: block;
}