@import 'setup';

body{
	font-family: 'Open Sans', sans-serif;
}

.wrapper {
	max-width:1000px;
	margin:0 auto;
}

header {
	height:100vh;
	min-height:500px;
	display:flex;
	align-items:center;
	background:#fac2c2;
	background-image:url(../../dev/images/main-bg.png);
	background-position:center center;
	background-size:contain;
	background-repeat:no-repeat;
	@media (max-width:480px) {
		background-image:none;
	}
	.headerText{
		text-align:center;
		color:#696a6a;
		margin-top:100px;
		padding:25px;
		@media (max-width:669px) {
			margin-top:50px;
		}
		h1{
			font-size:6rem;
			font-family: myFirstFont;
			text-transform:uppercase;
			letter-spacing:3px;
			margin:0;
			@media (max-width:480px) {
				font-size:5rem;
			}
		}
		h2{
			font-family: 'Open Sans', sans-serif;
			text-transform: uppercase;
			letter-spacing:3px;
			margin:0;
		}
	}
}

fieldset{
	margin:0;
	padding:0;
	border:none;

	p{
		font-size: 2.5rem;
		text-transform: capitalize;
		letter-spacing: 1px;
		color:#696a6a;
		font-family: myFirstFont;
	}
}
form{
	text-align:center;

	button{
		margin:100px;
		padding-top:20px;
		height:150px;
		width:150px;
		background:white;
		border:10px solid #fac2c2;
		border-radius: 50%;
		position:relative;
		font-family: myFirstFont;
		font-size:40px;
		color:#696a6a;
		transition: all 0.2s;
		cursor:pointer;
	}
}
button:hover{
	background:#fac2c2;
	color:white;
}
button:active{
	border:none;
}
.location {
	display: flex;
	justify-content: center;
	align-content: center;
}

.question{
	// min-height: 400px;
	text-align:center;
	// border:1px solid red;
	padding:50px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center


}

.answer__box{
	// border:1px solid teal;
	display:flex;
	justify-content:space-around;
	width:100%;
}
.answer{
	// border:1px solid rebeccapurple;
	width:45%;
	display:flex;
	align-items:center;
	label{
		font-size: 1.2rem;
		color:white;
		letter-spacing: 1px;
		padding:10px 15px;
		background:#80cbae;
		height:50px;
	}
	input[type=text]{
		padding:10px 15px 10px 0;
		width:100%;
		border:none;
		background:transparent;
		color:white;
		outline:none;
		background:#80cbae;
		height:50px;
	}
	input[type=radio]{
		display:none;
		&:checked ~ label {
			background:#5eb693;
		}
	}
	label.healthy__label{
		text-transform: uppercase;
		width:100%;
		// border:1px solid red;
		display:flex;
		align-items:center;
		justify-content:center;
		cursor:pointer;
		&:hover {
			background:#5eb693;
		}
	}
}

.icon img {
	height: 200px;
}

.storm, .cloud, .snow, .sunny, .rain {
	display: none;
}

.sunny.display {
	display: block;

}


.single-drink {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;	
}

.drink-image {
	width: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

.drink-text {
	padding: 15px;
	width: 50%;
	min-height: 350px;
	h2 {
		margin-top:0;
	}
}

.drink-container {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	background-color: #80CBAE;
}

.drink-container:nth-child(2){
	flex-direction: row-reverse;
	background-color: white;
}

.weatherDisplay{
	// border:1px solid teal;
	display:flex;
	justify-content:space-around;
	align-items:center;
	padding:50px;
	background:#696a6a;
	color:#80cbae;
	font-size:2rem;

	svg{
		height:200px;
		fill:#80cbae;
		margin-bottom:-60px;
	}

}

footer{
	color:#696a6a;
	background:#b1b1b1;
	font-size:.7rem;
	padding:10px;
	text-align: center;
}

